<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="head-bar">
      <div class="logo">
        <img src="/images/iconoweb.png" alt="Logo">
        <h1>GeekHubs travels</h1>
      </div>
      <div class="barra">
        <a href="">Destinos</a>
        <a href="">Quién somos</a>
        <a href="">Donde estamos</a>

      </div>
      <div class="social">
        <img src="/images/tt-ico.png" alt="twitter">
        <img src="/images/ws-ico.png" alt="whatsapp">
        <img src="/images/fb-ico.png" alt="facebook">
        <img src="/images/insta.png" alt="instagram">
        <img src="/images/linked.png" alt="linkedin">
        <img src="/images/yout.png" alt="youtube">
      </div>
    </section><!--head-bar-->
    
   

    {{{body}}}
    <footer>
      <div class="info">
        <div class="ayuda">
          <h3>¿ncesitas ayuda?</h3>
          <p>0264 123 45 67</p>
          <p>enquiry@geekshubstravels.com</p>
          <p>Lun-Vie: 9:30-19:00 Sab: 10:00-14:00</p>
        </div>
        <div class="informacion">
          <h3>información</h3>
          <p>Quienes somos</p>
          <p>Preguntas frecuentes</p>
          <p>Politica de privacidad</p>
          <p>Condiciones generales</p>
          <p>Aviso legal</p>
          <p>contacto</p>
          <p>Programa de puntos</p>
        </div>
        <div class="suscrebete">
          <h3>Suscribete a la newsletter</h3>
          <div class="correo">
            <fieldset>
            <input type="text" placeholder="correo electrónico">
            </fieldset>
            <button>SUSCRIBETE</button>
          </div>

        </div>
      </div><!--info-->
      <div class="copy">
        <p> GeekHubs Travels 2019 Todos los derechos reservados</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  </body>
</html>
