<div class="register">
    <h2>Recuperate your password</h2>
    <form action="users/recovery" method="POST" class="formulaire">
        <p>Type your email</p>
        <input type="email" name="email" placeholder="type your email here">
        <button type="submit" class="btn-recovery">Recuperate password</button>
    </form>
</div>