

<div class="register">
    <form action="/users/signup" class="formulaire " method="POST">
        <input type="text" name="name" placeholder="nombre">
        <input type="text" name="lastname" placeholder="appellido">
        <input type="email" name="email" id="" required placeholder="correo electrónico">
        <label for="contraseña"></label>
        <input type="password" name="password" id="" required minlength="8" placeholder="Contraseña">
        <label for="contraseña2"></label>
        <input type="password" name="contraseña2" id="" required minlength="8" placeholder="Repite contraseña">
        <input type="checkbox" name="checkbox" required >
        <button type="submit">Registrarse</button>
    </form>
</div>