<div class="register">
    <h2>Reset password</h2>
    <form action="/users/resetPassword2" class="formulaire" method="POST">
        <input type="password" name="password" placeholder="Introduce your password">
        <input type="password" name="passwordConfirm" placeholder="Confirm your password"> 
    <button type="submit">Reset your password</button>
    </form>
</div>